@mixin Position_Center{
    width:80%;
    position:absolute;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}